<div class="post-page">
    <div class="post animated fadeInDown">
        <div class="post-title">
            <h3>{{ .article.Title }}
            </h3>
        </div>
        <div class="post-content" id="content">

            {{ .article.Content | unescaped }}

            <nav class="article-nav" id="state">
                <span class="label label-important">PERMANENT LINK:</span>
                <a href="http://blog.golune.com/{{.article.Url}}">http://blog.golune.com/{{.article.Url}}</a>
            </nav>

        </div>

        <div class="post-footer">
            <div class="meta">
                <div class="info">
                    <i class="fa fa-calendar"></i>
                    <span class="date">{{ .article.CreatedAt | format }}</span>
                    &nbsp;&nbsp;
                    <i class="fa fa-folder-open"></i>
                    {{ range .article.Category }}
                    <a href="/category/{{ . }}">{{ . }}</a>&nbsp;
                    {{ end }}
                    &nbsp;&nbsp;
                    <i class="fa fa-tags"></i>
                    {{ range .article.Tags }}
                    <a href="/tag/{{ . }}">{{ . }}</a>&nbsp;
                    {{ end }}
                </div>
            </div>
        </div>
    </div>


    <div class="comment_container">
        <div id="SOHUCS" sid="{{.article.Title | md5}}" ></div>
        <script type="text/javascript">
            (function(){
                window._config = { showScore: true };
                var appid = 'xxxxx';
                var conf = 'prod_xxxxxxxxxxxxxxxxxxxxxxxxxx';
                var width = window.innerWidth || document.documentElement.clientWidth;
                if (width < 960) {
                    window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();

        </script>
    </div>

</div>